
/* minimizing the header by overriding universal_theme.css */
header {
    clip-path: polygon(0 0, 100% 0, 50vw 35%, 0 calc(50% - 50%)) !important;
    padding: 0 !important;
    height: 50px !important;
    }
#headerSymbol{ display: none !important; }
.titleDiv { top: -25px !important; }
.titleDiv h1{ font-size: 20pt !important; }


#searchResultsContainer{
    background-image : radial-gradient(circle at 50% 150%, var(--secondaryVariant) 55%, var(--secondary));
    width: 45vw;
    border-radius: 100px;
    }

.searchResultTable .tr:hover td{
    cursor: pointer;
    background-color: var(--secondary) !important;
    }



