
#addDiv {
    padding : 30px;
    }

#addDiv *:not(span) {
    margin : 15px;
    }

#addDiv h1 {
    margin : 0 0 25px 0;
    }

#addDiv > form > span {
    flex-direction : row !important;
    width          : 100%;
    }

#addDiv span {
    display        : flex;
    flex-direction : column;
    }

#addDiv > form > span > span * {
    height : 40px;
    }

#addDiv span p {
    margin-right : 10px;
    font-weight  : bold;
    font-size    : 16pt;
    text-align   : right;
    }

#addDiv > form > span > span:nth-child(1) {
    align-items : flex-end;
    width       : 100px;
    }

#addDiv > form > span > span:nth-child(2) {
    width       : 175px;
    align-items : flex-start;
    }


