
:root {
    --backgroundImg    : url("../resources/img/backgrounds/Japan/hpgdjs0m4eo01.png");
    --divBackgroundImg : url("../resources/img/textures/loops/Water/water pool.jpg");
    --borderImg        : url("../resources/img/textures/loops/stoneTiles/seamless-blue-tiles-texture-background-15016032.jpg");
    /*url("https://i.imgur.com/7hTJN0t.png")
    url("https://i.imgur.com/prp3zE7.jpg")*/

    }


body {
    background-image : radial-gradient(circle, var(--backgroundSecondary), var(--background) 75%);
    /*
    background-image: linear-gradient(to bottom, var(--background), var(--backgroundSecondary), var(--backgroundTertiary), var(--backgroundSecondary), var(--background));
    background-size: 100% 1000%;
    -webkit-animation: bg-pan-bottom 15s both infinite;
    */
    position         : relative;
    }

body::before {
    content          : "";
    z-index          : -1;
    position         : fixed;
    top              : 0;
    left             : 0;
    width            : 100vw;
    height           : 100vh;
    background-size  : cover;
    background-image : var(--backgroundImg);
    filter           : brightness(125%) blur(6px);
    }

div {
    display            : flex; /* Alternative: "inline-flex". */
    flex-direction     : column;
    align-items        : center;
    flex-wrap          : wrap;
    overflow-wrap      : break-word;
    word-wrap          : break-word;

    justify-content    : center;

    margin             : 10px;
    padding            : 20px;

    background-color   : var(--primaryVariant);
    border-color       : var(--onBackground);
    border-radius      : var(--borderRadius);
    border-width       : 0;
    border-style       : solid;

    box-shadow         : 0 /*X*/ 6px /*Y*/ 8px /*uklarhet*/ 0 /*spredning (optional)*/ var(--shadowColor);
    -webkit-box-shadow : 0 6px 8px 0 var(--shadowColor);
    }


/* __________________________ document specific ___________________________ */

#headerSpan {
    position : fixed;
    top      : 0;
    left     : 0;
    z-index  : 2;
    /*will-change : scroll-position; /*todo*/
    }

header {
    /*will-change        : scroll-position; /*todo*/
    background-image   : linear-gradient(var(--primary), var(--primaryVariant));
    display            : flex;
    flex-direction     : column;
    flex-grow          : 1;
    width              : 100vw;
    justify-content    : center;
    min-height         : 290px;
    align-items        : center;
    margin             : 0 0 20px 0;
    padding            : 20px 0 40px 0;
    box-shadow         : 0 10px 15px var(--shadowColor);
    -webkit-box-shadow : 0 10px 15px var(--shadowColor);
    clip-path          : polygon(0 0, 100% 0, 50vw 100%, 0 calc(50% - 50%));
    /* change the calc height to a percentage height to get alternate responsive behavior */
    }

header h1, header h2, header h3 {
    font-size : 2.5em;
    color     : var(--onPrimary);
    margin    : 10px auto; /*top&bunn=10px, left&right=auto*/
    /*font-family : "Lucida Sans Unicode", Arial, sans-serif;*/
    }

header img { max-height : 100% !important; /* for å ikke exceede parent element */ }

.titleDiv:hover {
    cursor : pointer;
    }

.titleDiv {
    position              : fixed;
    top                   : 35px;
    left                  : calc(50vw - 205px);
    min-width             : 250px;
    min-height            : 100px;
    -webkit-border-radius : 50px;
    -moz-border-radius    : 50px;
    background-color      : var(--secondary);
    background-image      : radial-gradient(circle at 100%, var(--secondaryVariant) 26%, var(--secondary));
    padding               : 30px 70px 30px 70px;
    z-index               : 12;
    -webkit-user-select   : none;-moz-user-select : none;-ms-user-select : none;user-select : none;
    }

.titleDiv h1 {
    white-space : nowrap;
    font-family : 'Playfair Display', serif;
    font-weight : bolder;
    font-size   : 27pt;
    }



.clipPathShadow {
    filter : drop-shadow(0px 10px 5px var(--shadowColor));
    }



#headerSymbol {
    -webkit-user-select : none;-moz-user-select : none;-ms-user-select : none;user-select : none;
    user-drag           : none;
    -webkit-user-drag   : none;
    height              : 100px;
    width               : 100px;
    position            : fixed;
    justify-self        : center;
    z-index             : 10;
    border-bottom-color : var(--secondary);
    display             : flex;
    top                 : 160px;
    cursor              : pointer;
    }


.symbolHideAnimation {
    animation : both spinBehindTitle 0.45s ease-in;
    }

.symbolShowAnimation {
    animation : both spinBehindTitle 0.65s reverse cubic-bezier(.35, -0.52, .73, .09);
    }

@keyframes spinBehindTitle {
    0% {
        transform : rotate(0) scale(1);
        top       : 160px;
        z-index   : 10;
        opacity   : 1;
        }
    99% {
        transform : rotate(270deg) scale(0.5);
        top       : -15px;
        z-index   : 10;
        opacity   : 1;
        }
    100% {
        transform : scale(0.5);
        top       : -15px;
        z-index   : -10;
        opacity   : 0;
        }
    }


#toolbarTooltip {
    /*will-change : scroll-position; /*todo*/
    position : fixed;
    top      : 155px;
    left     : 57%;
    z-index  : 13;
    }


:root {
    --tableRadius : 100px;
    }



#searchBar {
    width            : 50vw;
    border-radius    : 100px;
    padding          : 15px 25px;
    align-content    : space-between;
    background-image : radial-gradient(circle at 50% 150%, var(--primaryVariant) 55%, var(--primary));
    }

#searchBar form {
    width         : 100%;
    margin        : 0;
    padding       : 0;
    display       : flex;
    align-content : space-between;
    }

#searchBar input {
    border-radius  : 100px;
    flex-grow      : 1;
    height         : 40px;
    font-family    : Arial, sans-serif;
    font-size      : 15pt;
    letter-spacing : 1pt;
    }

#searchBar input::placeholder {
    color   : white;
    opacity : 1;
    }

#searchBar input:hover::placeholder {
    }

#searchBar button {
    background-color : var(--primary);
    border-radius    : 100px;
    font-family      : Arial, sans-serif;
    margin-left      : 15px;
    color            : white;
    margin-bottom    : 1px;
    }



#addDiv {
    justify-content  : center;
    align-content    : center;
    justify-items    : center;
    width            : 500px;
    border-radius    : 100px;
    padding          : 15px 25px;
    align-items      : center;
    background-image : radial-gradient(circle at 50% 150%, var(--primary) 55%, var(--primaryVariant));
    }

#addDiv h1 {
    margin : 15px;
    }

#addDiv .container {
    margin : 15px;
    }

#addDiv .container * {
    margin : 5px 15px;
    }

#addDiv button {
    background-color : var(--primary);
    color            : black;
    border-radius    : 100px;
    font-family      : Arial, sans-serif;
    font-size        : 12pt;
    margin-left      : 15px;
    margin-bottom    : 1px;
    margin-top       : 20px;
    }


.addX {
    margin-bottom  : 25px;
    padding        : 5px;
    flex-direction : column;
    border-radius  : 5px;
    }

.addX form {
    flex-direction : row;
    }

.addX form .container {
    flex-direction : row;
    margin         : 5px !important;
    }




#addDiv form > span {
    flex-direction : row !important;
    width          : 100%;
    }

#addDiv span {
    display        : flex;
    flex-direction : column;
    }

#addDiv span p:first-of-type {
    margin-top : 7px !important;
    }

#addDiv span input, #addDiv span p, #addDiv span textarea {
    font-weight   : bold;
    font-size     : 12pt;
    height        : 30px;
    margin-top    : 5px !important;
    margin-bottom : 5px !important;
    }

#addDiv form > span > span:nth-child(1) {
    align-items  : flex-end;
    width        : 100px;
    margin-right : 15px;
    }

#addDiv form > span > span:nth-child(2) {
    width       : 250px;
    align-items : flex-start;
    }

#addDiv span textarea {
    width      : 215px !important;
    min-height : 30px;
    }

#footer {
    flex-direction      : row;
    width               : 100vw;
    min-height          : 50px;
    margin              : 15px 0 0 0;
    padding             : 2px;
    border-radius       : 0;
    box-shadow          : none;
    background-image    : linear-gradient(var(--primaryVariant), var(--primary));
    transition-duration : 0.25s;
    }

#footer .lowBound {
    flex-direction   : column;
    width            : auto;
    bottom           : 1em;
    background-color : transparent;
    box-shadow       : none;
    color            : white;
    }



.toolbar {
    margin                     : 0;
    background-color           : transparent;
    box-shadow                 : none;
    position                   : fixed;
    z-index                    : 5;
    top                        : 162px;
    opacity                    : 1;
    flex-direction             : row;
    justify-content            : center;
    transition-duration        : 0.75s;
    padding                    : 0;
    transition-timing-function : cubic-bezier(.18, .89, .47, 1.39);
    }


/* mirrors the right-side toolbar so that the clip-path is pointed in the right direction, and mirrors the content so that it's rotated in the normal direction. */
#toolbarRight .toolbarItem { transform : rotateY(180deg); }

#toolbarRight .toolbarItem * { transform : rotateY(180deg); }

#tokenCountDiv { margin-right : 5px; margin-left : 15px; }

#tokenCountToken { height : 25px; width : 25px; }

.toolbarItem {
    justify-content     : center;
    align-content       : center;
    flex-direction      : row;
    height              : 92px;
    width               : 300px;
    margin              : 5px;
    clip-path           : polygon(100% 0%, 85% 50%, 100% 100%, 25% 75%, 15% 50%, 25% 25%);
    padding             : 30px 0;
    background-image    : linear-gradient(90deg, var(--secondary), var(--secondaryVariant) 85%);
    color               : var(--onSecondary);
    border-radius       : 0;
    user-select         : none; /* Chrome and Opera */
    -webkit-user-select : none; /* Safari */
    -khtml-user-select  : none; /* Konqueror HTML */
    -moz-user-select    : none; /* Firefox */
    -ms-user-select     : none; /* Internet Explorer/Edge */
    font-size           : 100%;
    }

#toolbarLeft, #toolbarRight {
    opacity : 0;
    }

#toolbarRight .toolbarItem {
    cursor : pointer;
    }

#toolbarRight *:hover {
    font-size : 14pt;
    }


.toolbarOpenAnimation {
    animation : both ease-in-out toolbarOpenAnimation 0.75s;
    }

.toolbarCloseAnimation {
    animation : both ease-in-out toolbarCloseAnimation 0.75s;
    }

@keyframes toolbarOpenAnimation {
    0% {
        transform : rotateY(0deg) scale(1);
        }
    50% {
        transform : rotate(180deg) scale(0.8);
        top       : 250px;
        }
    100% {
        transform : rotate(360deg) scale(1);
        }
    }

@keyframes toolbarCloseAnimation {
    50% {
        transform : rotateY(180deg) scale(1.25);
        top       : 155px;
        }
    75% {
        transform : rotateY(180deg) scale(1.25);
        top       : 155px;
        }
    }



#logoutButton {

    display          : none;
    background-color : var(--red);
    color            : white;
    padding          : 6px 12px;
    border-radius    : 2px;
    z-index          : 15;
    cursor           : pointer;
    }



/* generic: */



div > p, div > h1, div > h2, div > h3, div > h4, div > h5, div > label, div > output {
    /*cursor: url("Resources/etc/cursors/Mario_Gant/Text_Select.cur"), text*/
    }

/*.plainDiv > p, .plainDiv > h1, .plainDiv > h2, .plainDiv > h3, .plainDiv > h4, .plainDiv > h5, .plainDiv > label, .plainDiv > output { color: var(--onBackground) ! i m p o r t a n t; }*/
/*.container > p, .container > h1, .container > h2, .container > h3, .container > h4, .container > h5, .container > label, .container > output { color: var(--onBackground) ! i m p o r t a n t; }*/



#tableOfContents {
    margin  : 15px 0 15px 0;
    padding : 15px;
    }

h1, h2, h3, h4, h5 {
    font-weight : bolder;
    /*font-family : "Lucida Sans Unicode", Palatino, Arial, serif;*/
    margin      : 0.25em;
    /*line-break: auto;*/
    }

p {
    /* 4autolinebreak width: 100% */
    margin-top    : 5px;
    margin-bottom : 5px;
    }

/* cssfontstack.com presets (cssfontstack.com/<PALETTENAME>):
/* palatino
h1 { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

lucida
h1 { font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

segue
h1 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

optima
h1 { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

Book-Antiqua
h1 { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

Georgia
h1 { font-family: Georgia, Times, "Times New Roman", serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: Georgia, Times, "Times New Roman", serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: Georgia, Times, "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: Georgia, Times, "Times New Roman", serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: Georgia, Times, "Times New Roman", serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px;
 */


a {
    word-break          : break-all;
    color               : var(--secondaryVariant);
    text-decoration     : none;
    text-shadow         : 0 2px 3px var(--shadowColor);
    transition-duration : 0.3s;
    }

a:hover {
    filter          : brightness(110%);
    text-decoration : underline dashed;
    text-shadow     : 0 5px 2px var(--shadowColor);
    cursor          : pointer;
    }

a::before {
    content   : "🔗";
    opacity   : 0.5;
    font-size : 0.8em;
    }

img {
    /*border-style:solid;
    border-color:black;
    border-radius: var(--borderRadius);
    border-width: 1px;*/

    max-width           : 100%; /* Bilder vil aldri bli større enn parent element */
    max-height          : 100%;

    margin              : 5px;

    transition-duration : .5s;

    /* sikrer at aspect ratio ikke forandres */
    display             : block;

    border-radius       : var(--borderRadius)

    }

marquee {
    margin  : 0;
    padding : 0;
    }

/* OBSOLETE - bruk class .scroll eller marquee class i stedet. */


::-webkit-scrollbar {
    background : transparent;
    }

::-webkit-scrollbar-thumb {
    background-color : rgba(0, 0, 0, .25); /* Slightly opaque, tar på fargen som er bak den. */
    border-radius    : 30px 0 0 30px / 100% 0 0 100%; /* curves the scrollbar so that the entire left side is gently curved. */
    }

::-webkit-scrollbar-thumb:hover { background-color : rgba(0, 0, 0, .5); }



/* __________ < lists > __________ */

ul, ol {
    padding : 0 1em 0 2em;
    }

/* __________ < Tables > __________ */
table {
    margin             : 15px;
    background-color   : var(--primary);

    border-collapse    : collapse;

    border-radius      : 25px;
    border-style       : hidden;

    box-shadow         : 0 6px 8px 0 var(--shadowColor);
    -webkit-box-shadow : 0 6px 8px 0 var(--shadowColor);
    }

table, th, td {
    padding : 10px;
    }

th {
    /*text-decoration : var(--secondary) underline;*/
    border        : none;
    border-bottom : solid 1px black;
    font-weight   : bolder;
    font-size     : 12pt;
    }

td {
    border     : none;
    text-align : center;
    }

td:first-child {
    text-align : center;
    }

tr:nth-child(even) td {
    background : var(--primaryVariant);
    }

tr:last-child {
    border-bottom-left-radius  : 25px !important;
    border-bottom-right-radius : 25px !important;
    }

tr:last-child td:first-child {
    border-bottom-left-radius : 25px !important;
    }

tr:last-child td:last-child {
    border-bottom-right-radius : 25px !important;
    }



/* ***************************************************
   **                    INPUTS                     **
   ***************************************************/

input, select, button, textarea {
    background-color : var(--secondary);
    outline          : none;
    margin           : 5px;
    padding          : 5px;
    text-align       : center;
    /*border: 1px solid var(--onBackground);*/
    border-radius    : var(--borderRadius);
    border-style     : none;
    overflow         : hidden;
    /* max-width: 90%;  */
    }

textarea {
    resize : none;
    }

button {
    font-size           : 14px;
    font-weight         : bold;
    border              : solid 1px var(--onBackground) var(--borderRadius);
    padding             : 7px 10px;
    transition-duration : 0.05s;
    }

button h1, button h2 {
    text-shadow         : 0 4px 3px var(--shadowColor);
    transition-duration : 0.05s;
    }

button:hover h1, button:hover h2 {
    transform   : scale(1.05);
    text-shadow : 0 7px 4px var(--shadowColor);
    }

button:active h1, button:active h2 {
    text-shadow         : none;
    transform           : scale(0.95) translate(0, 4px) !important;
    transition-duration : 0.02s;
    }

/*button:hover {
    transform : scale(1.05);
    }

button:active {
    /*transform           : scale(1.1);
    transition-duration : 0.1s;
    box-shadow          : none !imp ortant;
    -webkit-box-shadow  : none !imp ortant;
    }

/* removes mozilla button outline */
button::-moz-focus-inner { border : 0; }


button, select, input[type=radio], input[type=checkbox], label {
    cursor              : /*url("Resources/etc/cursors/Mario_Gant/Normal_Select.cur"), */ pointer !important;
    transition-duration : 0.5s;
    }

::placeholder { /*placeholder teksten i inputs*/
    padding-left : 3px;
    color        : var(--onSecondary);
    opacity      : 0.5;
    }



/* __________ < TEXT INPUTS > __________ */
input[type=text], textarea {
    margin              : 5px 0;
    padding             : 5px 0;
    border              : 1px solid var(--secondaryVariant);
    border-radius       : 5px;
    background-color    : transparent;
    transition-duration : 0.5s;
    font-weight         : bold;
    }

input[type=text]:focus, textarea:focus, textarea:hover, input[type=text]:hover {
    padding          : 5px 0;
    background-color : var(--secondaryVariant);
    margin           : 5px 0;
    box-shadow       : 0 10px 10px var(--shadowColor);
    }


/* __________ < SELECT > __________ */
select {
    padding             : 7px 25px 7px 10px;
    text-align-last     : center;
    border              : solid var(--secondary) 2px;
    border-radius       : 10px;
    font-family         : Arial, sans-serif;
    font-size           : 12pt;
    outline             : none;
    font-weight         : 600;
    appearance          : none; /* fjerner pilen (som ikke kan styles) */
    -webkit-appearance  : none;
    background          : transparent url("../resources/img/icons/iOS/popular/menu-filled.png") 90% no-repeat; /* bildet er custom ikonet, 95% to the right. */
    color               : var(--onPrimary);
    background-size     : 1em; /* størrelsen på ikonet */
    transition-duration : 0.5s;
    }

select:hover {
    color               : var(--onSecondary);
    border-color        : var(--secondaryVariant);
    background-color    : var(--secondaryVariant);
    /*border-radius    : 100% 100% 15px 15px / 20px 20px 15px 15px; /* ( x-radius / y-radius )
    */border-radius : 50% 50% 10px 10px / 10px 10px 20px 20px; */ filter : brightness(125%);
    }

select:focus {
    color            : var(--onSecondary);
    background-color : var(--secondaryVariant);
    border-radius    : /*20px 20px 0*/ 4px;
    }

option {
    text-align       : center;
    background-color : var(--primary);
    }

option:nth-child(odd) {
    background-color : var(--primaryVariant)
    }



/* Gjemmer opp & ned pilene på input type "number" */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance : none; margin : 0; }

/* For Chrome & etc. */
input[type="number"] { -moz-appearance : textfield; }

/* For Firefox: */
/*input[text], textArea{ cursor: url("Resources/etc/cursors/0etc/Zelda_Pen.png"), text; }*/



/* __________ < RADIO > __________ */
input[type=radio] {
    -webkit-appearance  : none; /* hides the normal radio button */
    -moz-appearance     : none;
    background-color    : var(--primaryVariant) !important;

    outline             : none; /*fjerner firkantet selection outline, native i html. */
    border-style        : none;
    border-radius       : 50% !important;

    position            : relative; /*for å tillate absolute text content */
    height              : 20px;
    width               : 20px;
    transition-duration : 0.3s;
    }

input[type=radio]:hover {
    transform           : scale(1.5);
    background-color    : var(--secondaryVariant) !important;
    box-shadow          : 0 5px 7px var(--shadowColor);
    transition-duration : 0.2s;
    }

input[type=radio]:active {
    transform           : scale(1.8);
    transition-duration : 0.1s;
    }

input[type=radio]:checked::before { /* inserts text before the content on checked radios */
    position  : absolute;
    content   : '✔';
    font-size : 15px;
    color     : var(--onPrimary);
    left      : 4px;
    top       : 0;
    }



/* __________ < ranges > __________ */
input[type=range] {
    -webkit-appearance  : none; /* Override default CSS styles */
    outline             : none;
    appearance          : none;
    padding             : 0;
    border-radius       : 50px;
    height              : 12.5px;
    filter              : brightness(90%);
    background-color    : #666;
    transition-duration : 0.5s;
    overflow            : visible;
    }

input[type=range]:hover {
    filter              : brightness(100%);
    transition-duration : 0.5s;
    }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance  : none;
    position            : relative;
    bottom              : 5px;
    width               : 20px;
    height              : 20px;
    border-style        : none;
    border-radius       : 50%;
    background-color    : var(--secondaryVariant);
    transition-duration : 0.5s;
    box-shadow          : 3px 2px 3px var(--shadowColor);
    }

input[type=range]::-moz-range-thumb {
    box-shadow          : 3px 2px 3px var(--shadowColor);
    border-style        : none;
    -webkit-appearance  : none;
    width               : 20px; /* the size is slightly different for firefox, so I'm manually making up for that here */
    height              : 20px;
    border-radius       : 50%;
    background-color    : var(--secondaryVariant);
    transition-duration : 0.5s;
    }

input[type=range]::-moz-range-thumb:hover {
    transform           : scale(1.3);
    transition-duration : 0.3s;
    box-shadow          : 5px 5px 5px var(--shadowColor);
    }

input[type=range]::-webkit-slider-thumb:hover {
    box-shadow          : 5px 5px 5px var(--shadowColor);
    transform           : scale(1.3);
    transition-duration : 0.3s;
    }



.wobble-hor-bottom {animation : wobble-hor-bottom .8s both}


/* ----------------------------------------------
 * Generated by Animista on 2019-4-20 15:33:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes wobble-hor-bottom {
    0%, 100% {transform : translateX(0);transform-origin : 50% 50%}
    15% {transform : translateX(-30px) rotate(-6deg)}
    30% {transform : translateX(15px) rotate(6deg)}
    45% {transform : translateX(-15px) rotate(-3.6deg)}
    60% {transform : translateX(9px) rotate(2.4deg)}
    75% {transform : translateX(-6px) rotate(-1.2deg)}
    }

#rating_stars {
    margin          : 1em 0;
    flex-direction  : row;
    justify-content : space-around;
    }

#rating_avgP {
    font-weight : bold;
    font-size   : 14pt;
    margin      : 0 0 0.5em 0;
    }

.fa-star {
    transition-duration : 0.5s;
    font-size           : calc(1vw + 12pt);
    color               : var(--onPrimary);
    cursor              : pointer !important;
    }


.fa-star.checked {
    color       : var(--primary) !important;
    /* lager en ny identisk tekst-skygge (uten blur-radius) for hver pixel teksten skal bevege seg, med offset x og y. */
    text-shadow : 1px 1px darkslategray, 2px 2px darkslategray, 3px 3px darkslategray, 4px 4px darkslategray, 5px 5px darkslategray;
    /* beveger teksten likt tekst-skyggens lengde i piksler, slik at teksten beveger seg på plass. */
    transform   : translateX(-5px) translateY(-5px);
    }







