/* minimizing the header by overriding universal_theme.css */
header {
    clip-path : polygon(0 0, 100% 0, 50vw 35%, 0 calc(50% - 50%)) !important;
    padding   : 0 !important;
    height    : 50px !important;
    }

#headerSymbol { display : none !important; }

.titleDiv { top : -25px !important; }

.titleDiv h1 { font-size : 20pt !important; }


.albumDiv {

    }

.albumDiv:hover {
    }

.albumDiv h2 {
    transition-duration : 0.1s;
    }

.albumDiv:hover h2, .albumDiv:hover p {
    text-shadow : 0 4px 2px rgba(0, 0, 0, .5) !important;
    }

#deleteArtistDiv, #editArtistDiv {
    margin              : 0;
    position            : absolute;
    right               : 10px;
    border-radius       : 500px;
    opacity             : 0.25;
    transform           : scale(0.5);
    transition-duration : 1s;
    padding             : 0;
    height              : 75px;
    width               : 200px;
    justify-content     : center;
    align-items         : center;
    z-index             : 1;
    }

#deleteArtistDiv:hover, #editArtistDiv:hover {
    opacity   : 1 !important;
    z-index   : 2;
    transform : scale(1);
    cursor    : pointer;
    }

#deleteArtistDiv form, #editArtistDiv form {
    position : absolute;
    top      : -2px;
    }

#deleteArtistDiv form, #deleteArtistDiv button, #editArtistDiv form, #editArtistDiv button {
    width  : 100%;
    height : 100%;
    }

#editArtistDiv {
    right : 125px;
    }

#actionButtonsContainer {
    position       : relative;
    width          : 100%;
    flex-direction : row;
    height         : 75px;
    }



#artistContainer {
    border-radius : 75px;
    max-width     : 90vw;
    }

#artistTitleDiv {
    max-width     : 85vw;
    border-radius : 500px;
    padding       : 15px 30px;
    margin        : 25px 15px 0 15px;
    }

#artistTitleDiv h1 {
    min-width    : 1em;
    margin-left  : 15px;
    margin-right : 15px;
    max-width    : 100%;
    }

#editable2 {
    min-width  : 1em;
    max-width  : 95%;
    word-break : break-word;
    word-wrap  : break-word;
    }

#editable3 {
    min-width : 1em;
    }

#artistImgContainer {
    max-height      : 700px;
    max-width       : 66vw;
    justify-content : center;
    align-items     : center;
    height          : auto;
    margin          : 50px 15px;
    position        : relative;
    }

#artistImg {
    height     : auto;
    width      : auto;
    display    : block;
    max-height : 670px;
    }

#info_leftColumn {
    flex-grow : 5;
    max-width: 45%;
    }

#info_leftColumn div {
    width: 95%;
    border-radius : 10px;
    }
#artistAlbumsDiv{
    padding: 10px;
    }

#artistAlbumsDiv .album {
    word-break: break-word;
    transition-duration : 0.2s;
    }

#artistAlbumsDiv .album:hover {
    transform : scale(1.2) rotateY(30deg);
    /*border-bottom: 1px black solid !important;*/
    }

#artistAlbumsDiv .album:hover h2 {
    text-decoration : solid underline black;
    }

#ratingDiv{

    }





div > *[contenteditable="true"] {
    font-style  : italic;
    display     : inline-block;
    cursor      : text;
    text-shadow : 0 2px 4px 4px rgba(0, 0, 0, 0.5);
    }

div > *[contenteditable="true"]:focus {
    font-style  : normal;
    }



#artistImgEditPrompt {
    background-color : var(--primary);
    justify-content  : center;
    align-content    : center;
    padding          : 15px;
    border-radius    : 5px;
    display          : flex;
    flex-direction   : column;
    position         : absolute;
    /*z-index          : 5;*/
    box-shadow       : 0 0 15px 5px rgba(256, 256, 256, .5);
    }

#artistImgEditPrompt * {
    margin : /*5px*/ 0 !important;
    width  : 250px;
    }

#artistImgEditPrompt input::placeholder {
    font-style : italic;
    }














