/* minimizing the header by overriding universal_theme.css */
header {
    clip-path : polygon(0 0, 100% 0, 50vw 35%, 0 calc(50% - 50%)) !important;
    padding   : 0 !important;
    height    : 50px !important;
    }

#headerSymbol { display : none !important; }

.titleDiv { top : -25px !important; }

.titleDiv h1 { font-size : 20pt !important; }


.albumDiv {

    }

.albumDiv:hover {
    }

.albumDiv h2 {
    transition-duration : 0.1s;
    }

.albumDiv:hover h2, .albumDiv:hover p {
    text-shadow : 0 4px 2px rgba(0, 0, 0, .5) !important;
    }

#deleteArtistDiv {
    margin: 0 ;
    margin-left         : 72.5%;
    border-radius       : 500px;
    opacity             : 0.25;
    transform           : scale(0.5);
    transition-duration : 1s;
    padding             : 0;
    height              : 75px;
    width               : 200px;
    justify-content     : center;
    align-items         : center;
    }

#deleteArtistDiv:hover {
    opacity   : 1;
    transform : scale(1);
    cursor    : pointer;
    }

#deleteArtistDiv form {
    position : absolute;
    top      : -2px;
    }

#deleteArtistDiv form, #deleteArtistDiv button {
    width  : 100%;
    height : 100%;
    }




#artistContainer {
    border-radius : 75px;
    }

#artistTitleDiv {
    border-radius : 500px;
    padding       : 15px 30px;
    margin-bottom : 0;
    margin-top    : 25px;
    }

#artistTitleDiv h1 {
    font-size : 60pt !important;
    }

#artistImgContainer {
    max-height      : 700px;
    max-width       : 66vw;
    justify-content : center;
    align-items     : center;
    height          : auto;
    margin          : 50px 15px;
    }

#artistImg {
    height     : auto;
    width      : auto;
    display    : block;
    max-height : 670px;
    }

#artistAlbumsDiv {
    border-radius : 10px;
    }

#artistAlbumsDiv .album {
    transition-duration : 0.2s;
    }

#artistAlbumsDiv .album:hover {
    transform : scale(1.2) rotateY(30deg);
    /*border-bottom: 1px black solid !important;*/
    }

#artistAlbumsDiv .album:hover h2 {
    text-decoration : solid underline black;
    }
















