
#loginContainer {
    padding : 30px;
    }

#loginContainer *:not(span) {
    margin : 15px;
    }

#loginContainer h1 {
    margin : 0 0 25px 0;
    }

#loginContainer > form > span {
    flex-direction : row !important;
    width          : 100%;
    }

#loginContainer span {
    display        : flex;
    flex-direction : column;
    }

#loginContainer > form > span > span * {
    height : 40px;
    }

#loginContainer span p {
    margin-right : 10px;
    font-weight  : bold;
    font-size    : 12pt;
    }

#loginContainer > form > span > span:nth-child(1) {
    align-items : flex-end;
    width       : 100px;
    }

#loginContainer > form > span > span:nth-child(2) {
    width       : 175px;
    align-items : flex-start;
    }
